<div class="row mx-0 my-5">
    <div class="col-md-5">
        <form action="" [formGroup]="this.customerService.form" (ngSubmit)="onSubmit()">
            <input type="hidden" formControlName = "$key">
            <div class="form-group">
                <label for="fullName">Name:</label>
                <input type="text" name="fullName" id="fullName" formControlName = "fullName" class="form-control" [ngClass] = "{'is-invalid' : submitted && formControls.fullName.errors}">
                <div class="alert alert-danger" *ngIf="submitted && formControls.fullName.errors">
                    Full Name Requried
                </div>
            </div>
            <div class="form-group">
                <label for="email">Email ID:</label>
                <input type="text" name="email" id="email" formControlName = "email" class="form-control" [ngClass] = "{'is-invalid' : submitted && formControls.email.errors}">
                <div class="alert alert-danger" *ngIf="submitted && formControls.email.errors">
                    Invalid Email Id
                </div>
            </div>
            <div class="form-group">
                <label for="mobile">Contact Number:</label>
                <input type="text" name="mobile" id="mobile" formControlName = "mobile" class="form-control" [ngClass] = "{'is-invalid' : submitted && formControls.mobile.errors}">
                <div class="alert alert-danger" *ngIf="submitted && formControls.mobile.errors">
                    <label *ngIf="formControls.mobile.errors.required">Contact Number Requried</label>
                    <label *ngIf="formControls.mobile.errors.minlength">Atleast 8 Number</label>
                </div>
            </div>
            <div class="form-group">
                <label for="location">Location:</label>
                <input type="text" name="location" id="location" formControlName = "location" class="form-control">
            </div>
            <div class="form-group">
                <input type="submit" #btnSubmit id="formSubmitBtn" class="btn btn-primary btn-block" [disabled]="!this.customerService.form.valid" value="{{customerService.btnText}}">
            </div>
        </form>
        <div class="alert alert-info" *ngIf="showSuccessMessage">
            {{customerService.successMesg}}
        </div>
    </div>
    <div class="col-md-7">
        <app-customer-list></app-customer-list>
    </div>
</div>